/*Global Styles*/

p, h1, h2, i{
	color: #ECF0F2;
}

.right {
	float: right;
}

/*Side bar nav styling*/

.side-nav{
	background-color: #41484D;
	height: 595px;
/*	width: 4.167% !important;*/
}

.side-nav-icons {
	height: 100px;
  position: relative;
  top: 50%;
}

.side-nav-icons i {
	font-size: 40px;
	color: #ECF0F2;
}

.side-nav-icons-label {
	margin-top: 4px;
}

/*Canvas bar nav styling*/

.everything {
	transform: translateY(-53px);
}

.canvas {
	background-color: #121A20;
	height: 595px;
/*	width: 68.75% !important;*/
}

.featured-content {
	height: 300px;
	background-color: #1F2C36;
}

.victim-name {
	line-height: 1px;
}

.victim-details {
	line-height: 20px;
}

.POI-overview {
	background-color: #006D5D;
}
/*Persistent side bar nav styling*/

.persistent {
	background-color: #192020;
	height: 595px;
/*	width: 27.083% !important;*/
}

.persistent-tabs-group {
	border-bottom: solid #4CB38F;
}

.persistent-tabs {
	text-align: center;
}

.updates-tab {
	background-color: #4CB38F;
}

.update-counter {
	background-color: #FFFFFF;
	color: #4CB38F;
	height: 10px;
	width: 10px;
}

.update h3, h6 {
	color: #4CB38F;
}

.update h4, h5 {
	color: #ECF0F2;
	line-height: 1px;
}

.update h6 {
	line-height: 1px;
	font-weight: 100;
}

.update-part-1 {
	background-color: #1F2C36;
}

.update-part-2 {
	background-color: #192020;
}

.review {
  height: 2em;
  width: 5em;
	color: #DFE9E9;
	background-color: #54496A;
}

.review p {
	font-size: 10px;
  position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}















