.top-bar {
  background: #333 none repeat scroll 0% 0%;
  overflow: visible;
  width: 75%;
  height: 5.813rem !important;
  float: left;
}

.side-bar {
  background: #333 none repeat scroll 0% 0%;
  overflow: visible;
  width: 25%;
  height: 5.813rem !important;
  float: right;
}

.vertical-align ul[class="title-area"] {
  position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.canvas-container {
  background-color: brown;
}

.persistant-container {
  background-color: pink;
}

.side-menu {
  background-color: green;
}