.top-bar {
  background: #333 none repeat scroll 0% 0%;
  overflow: visible;
  width: 75%;
  height: 5.813rem !important;
  float: left;
}

.side-bar {
  background: #333 none repeat scroll 0% 0%;
  overflow: visible;
  width: 25%;
  height: 5.813rem !important;
  float: right;
}

.vertical-align ul {
  position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.nav-bar {
  background-color: #41484D;
  height: 100px;
}

.logo {
  position: relative;
  top: 50%;
  transform: translateY(70%);
}

.nav-bar input {
  height: 70px;
  margin-left: 19em;
  position: relative;
  top: 50%;
  transform: translateY(-105%);
  width: 35em;
}

.watson-brand {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
  color: #DFE9E9;
  margin-left: 4em;
}

input[type="text"] {
  background-color : #CDCDCD; 
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #CDCDCD;
  transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #01B09D;
}

::-webkit-input-placeholder {
  color: #3C4646;
  font-size: 20px;
}
::-moz-placeholder {
  color: #3C4646;
  font-size: 20px;
}
:-ms-input-placeholder {
  color: #3C4646;
  font-size: 20px;
}

input:-moz-placeholder {
  color: #3C4646;
  font-size: 20px;
}

.profile-dropdown {
    color: #dfe9e9;
    font-size: 17px;
    margin-left: 58%;
    position: absolute;
    top: 50%;
    transform: translateY(-240%);
}

.profile-dropdown i {
  color: #dfe9e9;
  font-size: 17px;
  margin-left: 4%;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
}

.profile-pic {
  margin-left: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-120%);
}

hr.vertical {
  width: 0%;
  height: 100%;
}

.case-name {
  

}










